######################################################################
# START PRINT
######################################################################

[gcode_macro START_PRINT T_BED T_EXTRUDER]
variable_parameter_T_BED: 60
variable_parameter_T_EXTRUDER: 215
gcode:

    M83
    # Use absolute coordinates but realative extrusions
    G90
    G92 E0 ; reset extruder distance
    
    M117 Preheating bed...
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature < params.T_BED|float*0.7 %}
        M190 S{params.T_BED|float*0.7} # wait till 70% of target bed temp is reached, then continue  
    {% endif %}
  
    M117 Heating...
      
    M140 S{T_BED} 
    M109 S{T_EXTRUDER}
    M190 S{T_BED}

    M117 Homing...
    G28
  
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0 MOVE=1
  
    # Use the bed mesh 
    BED_MESH_PROFILE LOAD=default
    
    # Prime line
    PRIME_LINE
    M117 Printing...

######################################################################
# PRIME LINE
######################################################################

[gcode_macro PRIME_LINE]
gcode:
  M117 Priming the nozzle
  G1 Z0.2 F240
  G1 Y{ (range(2, 8) | random) * 0.64} F1200 ; Set random start Y between 0 and ~5mm
  G1 X30 E6 F1200.0 ; pressure build up line
  G1 X95 Z0.4 E9 F1500.0 ; intro line
  G1 Z2 F3000 ; Move Z Axis up little 
  G1 X100 Z0.2 F3000.0 ; Move over and stick remainings to the bed
  G92 E0 ; reset extruder distance

######################################################################
# Macro to Search Printer Objects
######################################################################

## Example ##
## This macro will allow you to type search_vars s={some word} from the terminal and
# it will respond with all of the matching items in the printer Object.

[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}


######################################################################
# load / unload filament
######################################################################


#    Macro to Load Filament
[gcode_macro load_filament]
########### Change this ############
default_parameter_EXTRUDER: 200
default_parameter_X: 410
default_parameter_Y: 40
default_parameter_Z: 10
default_parameter_E: 160
########### Gcode ############
gcode:
        G90
        G0 X{X} Y{Y}                #move to area where you can easily load filament
        M109 S{EXTRUDER}            #set hotend temperature and wait
        M83                         #relative positioning on extruder    
        G0 E{E} F400                #prime extruder
        G92 E0

#    Macro to Unload Filament
[gcode_macro unload_filament]
########### Change this ############
default_parameter_EXTRUDER: 200
default_parameter_X: 410
default_parameter_Y: 40
default_parameter_Z: 10
default_parameter_E: -160
########### Gcode ############
gcode:
        G0 X{X} Y{Y}                #move to area where you can easily load filament
        M109 S{EXTRUDER}            #set hotend temperature and wait    
        M83                         #relative positioning on extruder
        G0 E15 F400                 #extrude filament to get better blob on end
        G0 E{E} F1000               #retract additional filament to move out of melt zone
        G92 E0

######################################################################
# PAUSE
######################################################################

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 10     #edit to your park position
default_parameter_Y: 295    #edit to your park position
default_parameter_Z: 10     #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    
######################################################################
# RESUME
######################################################################

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME
    
######################################################################
# CANCEL
######################################################################

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

######################################################################
# G29 / MESH 
######################################################################

[gcode_macro G29]
gcode:
    RESPOND MSG="Homing..."
    G28
    M400
    RESPOND MSG="Capturing Mesh..."
    BED_MESH_CALIBRATE

######################################################################
# G34 Z Tilt Adjust
######################################################################

[gcode_macro G34]
gcode:
    RESPOND MSG="Homing..."
    G28
    M400
    RESPOND MSG="Adjusting Z Tilt..."
    Z_TILT_ADJUST
    M400
    RESPOND MSG="Re-homing..."
    G0 X5 Y5 Z10 F4000
    G28

######################################################################
# G35 Screw Tilt Calculate / Tramming
######################################################################

[gcode_macro G35]
gcode:
    RESPOND MSG="Calculating Screw Adjustments..."
    SCREWS_TILT_CALCULATE